<div class="all_questions">
  <% @questions.each do |question| %>
  <p><strong><a href="/questions/<%= question.id %>"><%= question.title %></a></strong></p>
  <p class="description"><%= question.description[0..200]%> ......</p>
  <% end %>
</div>
