<form action="/users/signin" method="post">
  <label for="name">User Name: </label>
  <input name="name"/>
  <label for="password">Password: </label>
  <input name="password">
  <button type="submit">Submit</button>
</form>
