<form action="/users/signup" method="post">
  <label for="name">User Name: </label>
  <input name="name"/>
  <label for="password">Password: </label>
  <input type="password" name="password">
  <button type="submit">Register</button>
</form>
